.navbar-inverse {
  background-color: #033572;
}
.navbar-inverse .navbar-brand {
  color: #BDB5AB;
}
.navbar-inverse .navbar-nav>li>a {
  color: #BDB5AB;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #033572;
}
.navbar-inverse .navbar-nav>.active:hover>a {
  background-color: #0069B4;
}
.list-group-item.active {
  background-color: #033572;
  border-color: #033572;
}
item.active, .list-group-item.active:hover {
  background-color: #0069B4;
  border-color: #0069B4;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
